{% extends 'layouts/main.html.twig' %}

{% block body %}

    <form action="/login" method="POST">
        <div class="col-md-8">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="col-12">
            {% if message != null %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {%  endif %}
        </div>
        <div class="col-12">
            {% if error != null %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {%  endif %}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}