{% extends 'layouts/main.html.twig' %}

{% block body %}

    <form action="../task/store" class="row g-3 needs-validation" method="POST" validate>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="validationCustom01" name="username" required>
            <div class="invalid-feedback">
                Please provide a valid username.
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Email</label>
            <input type="email" class="form-control" id="validationCustom02" name="email" required>
            <div class="invalid-feedback">
                Please provide a valid email.
            </div>
        </div>
        <div class="col-md-12">
            <label for="validationCustom03" class="form-label">Текст</label>
            <input type="text" class="form-control" id="validationCustom03" name="text" required>
            <div class="invalid-feedback">
                Please provide a valid text.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="invalidCheck" name="is_complete">
                <label class="form-check-label" for="invalidCheck">
                    Выполнена
                </label>
            </div>
        </div>
        <div class="col-12">
            {% if message != null %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {%  endif %}
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>

{% endblock %}
